{% extends 'layoutEmail.html.twig' %}

{% block title %}{{ 'new.episode'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'new.episode.number'|trans }}
		{{ episode.number }}
		{{ episode.title }}
		{{ 'created'|trans }}</h1>

	<p>{{ 'hello.new.episode'|trans }}
		{{ episode.title }}
		{{ 'from'|trans }}
		<a href="{{ url('program_season_show', { slug: episode.season.program.slug, seasonId: episode.season.id }) }}">
			{{episode.season.program.title}}
		</a>
		{{ 'created.episode'|trans }}</p>

	<p>Summary :
		{{episode.synopsis }}
	</p>
{% endblock %}
