{% extends 'base.html.twig' %}

{% block title %}{{ 'season.edit'|trans }}
{% endblock %}

{% block body %}
	<div class="text-center mt-3">
		<h1>{{ 'season.edit'|trans }}</h1>

		{{ include('season/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn border" href="{{ path('season_index') }}">{{ 'back'|trans }}</a>

		{{ include('season/_delete_form.html.twig') }}
	</div>
{% endblock %}
