{% extends 'base.html.twig' %}

{% block title %}{{ 'season.index'|trans }}
{% endblock %}

{% block body %}
	<div class="text-center mt-3">
		<h1>{{ 'season.index'|trans }}</h1>

		<table class="table">
			<thead>
				<tr>
					<th>{{ 'id'|trans }}</th>
					<th>{{ 'program'|trans }}</th>
					<th>{{ 'number'|trans }}</th>
					<th>{{ 'year'|trans }}</th>
					<th>{{ 'description'|trans }}</th>
					<th>{{ 'actions'|trans }}</th>
				</tr>
			</thead>
			<tbody>
				{% for season in seasons %}
					<tr>
						<td>{{ season.id }}</td>
						<td>{{season.program.title}}</td>
						<td>{{ season.number }}</td>
						<td>{{ season.year }}</td>
						<td>{{ season.description }}</td>
						<td>
							<a class="btn border" href="{{ path('season_show', {'id': season.id}) }}">{{ 'show'|trans }}</a>
							<a class="btn border" href="{{ path('season_edit', {'id': season.id}) }}">{{ 'edit'|trans }}</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">{{ 'not.found'|trans }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn bg-primary border" href="{{ path('season_new') }}">{{ 'create.season'|trans }}</a>
	</div>
{% endblock %}
