{% extends 'base.html.twig' %}

{% block title %}{{ 'create.season'|trans }}
{% endblock %}

{% block body %}
	<div class="text-center mt-3">
		<h1>{{ 'create.season'|trans }}</h1>

		{{ include('season/_form.html.twig') }}

		<a class="btn border" href="{{ path('season_index') }}">{{ 'back'|trans }}</a>
	</div>
{% endblock %}
