{% extends 'base.html.twig' %}

{% block title %}{{ 'program.edit'|trans }}
{% endblock %}

{% block body %}
	<div class="text-center mt-3">
		<h1>{{ 'program.edit'|trans }}</h1>

		{{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

		<a class="btn border" href="{{ path('program_index') }}">{{ 'back'|trans }}</a>

	</div>
{% endblock %}
