{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
	<div class="text-center">
		<h1>{{program.title}}</h1>
		<h2>{{ 'season'|trans }}
			{{season.number}}</h2>
		<h3>{{ 'episode'|trans }}
			{{episode.number}}
			:
			{{episode.title}}</h3>
		<p>{{episode.synopsis}}</p>
		{% if app.user %}
			<h3 class="mt-3">{{ 'add.comment'|trans }}</h3>
			<div class="text-center mt-3">
				{{ form_start(form) }}

				{{ form_widget(form) }}

				<input type='submit' value='Add comment'>

				{{ form_end(form) }}
			</div>
		{% endif %}
		<h3 class="mt-5">{{ 'comments'|trans }}</h3>
		{% for comment in episode.comments | reverse %}

			<h4 class"mt-3">Par
				{{comment.author.username}}</h4>
			<p>{{comment.comment}}</p>
			<p>Rate :
				{{comment.rate}}</p>
			{% if is_granted("ROLE_CONTRIBUTOR") %}
				{{ include('comment/_delete_form.html.twig') }}
			{% endif %}
		{% endfor %}

		<a href="{{ path('app_index') }}">

			{{ 'home'|trans }}

		</a>
	{% endblock %}
