{% extends 'base.html.twig' %}


{% block title %}All programs
{% endblock %}


{% block body %}

	<h1>{{ 'program.index'|trans }}</h1>

	<div class="text-center">
		{{ app.session.get('total') }}
		
		{{ form_start(form) }}

		{{ form_widget(form) }}

		<button class="btn btn-main-color">{{ 'search'|trans }}</button>

		{{ form_end(form) }}
	</div>
	{% for program in programs %}

		<div class="text-center">

			<h2>{{ loop.index }}
				/
				{{ program.title }}
				- {{ 'category'|trans }} :
				{{ program.category.name }}</h2>

			<p>{{ program.summary }}</p>
			{# Lien vers la fiche de la série : #}
			{% if is_granted("ROLE_ADMIN") %}

				<a class="btn border" href="{{ path('program_edit', { 'slug': program.slug} ) }}">{{ 'edit'|trans }}</a>

			{% endif %}
			<a href="{{ path("program_show", { slug: program.slug }) }}">{{ 'show.program'|trans }}</a>
		</div>

	{% else %}

		{{ 'not.found'|trans }}

	{% endfor %}


	<a href="{{ path('app_index') }}">

		{{ 'home'|trans }}

	</a>

{% endblock %}
