{% extends 'layoutEmail.html.twig' %}

{% block title %}{{ 'program.new'|trans }}
{% endblock %}

{% block body %}
	<h1>{{ 'program.new'|trans }}
		{{ program.title }}
		{{ 'created'|trans }}</h1>

	<p>{{ 'program.new.hello'|trans }}
		{{ program.title }}
		{{ 'created.program'|trans }}</p>

	<p>{{ 'summary'|trans }} :
		{{program.summary }}
	</p>
{% endblock %}
