{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
	<div class="text-center">
		<h1>{{ program.title }}
			season
			{{season.number}}</h1>
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<p>Synopsis :
			{{ season.description }}</p>
		<p>Country :
			{{program.country}}</p>
		<p>
			Year :
			{{season.year}}</p>
		<p>Catégorie :
			{{ program.category.name }}</p>

		<ul>
			Episodes :
			{% for episode in episodes %}
				<li>
					<a href="{{ path('program_episode_show', { slugProg: program.slug, seasonId: season.id, slugEp: episode.slug }) }}">Episode
						{{episode.number}}
						:
						{{episode.title}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
