{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
	<div class="text-center">
		<h1>{{ program.title }}
			{{ 'season'|trans }}
			{{season.number}}</h1>
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<p>{{ 'synopsis'|trans }} :
			{{ season.description }}</p>
		<p>{{ 'country'|trans }} :
			{{program.country}}</p>
		<p>
			{{ 'year'|trans }} :
			{{season.year}}</p>
		<p>{{ 'category'|trans }} :
			{{ program.category.name }}</p>

		<ul>
			{{ 'episodes'|trans }} :
			{% for episode in episodes %}
				<li>
					<a href="{{ path('program_episode_show', { slugProg: program.slug, seasonId: season.id, slugEp: episode.slug }) }}">{{ 'episode'|trans }}
						{{episode.number}}
						:
						{{episode.title}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
