{# templates/program/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}


{% block body %}


	<div class="media text-center">

		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">

		<div class="media-body text-center">

			<h1 class="mt-0">{{ program.title }}</h1>

			<p>Synopsis :
				{{ program.summary }}</p>

			<p>Country :
				{{ program.country }}</p>

			<p>Year :
				{{ program.year }}</p>

			<p>Catégorie :
				{{ program.category.name }}</p>
			{% for season in seasons %}
				<p>
					<a href="{{ path('program_season_show', { slug: program.slug, seasonId: season.id }) }}">Saison
						{{season.number}}
						({{season.year }})</a>
				</p>
			{% endfor %}
			<h3>
				Acteurs :
			</h3>

			{% for actor in program.actors %}
				<p>
					<a href="{{ path("actor_show", { id: actor.id }) }}">{{ actor.firstname }}
						{{ actor.lastname }}
					</a>
				</p>

			{% else %}

				<p>Aucun acteur pour cette série</p>

			{% endfor %}

			<p>
				<a href="{{ path('program_watchlist', {id: program.id})}}">

					<i class="bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i>

				</a>
			</p>

		</div>

	</div>


	<a href="{{ path('program_index') }}">

		Retour à la liste des programmes

	</a>


{% endblock %}
