{% extends 'base.html.twig' %}

{% block title %}{{ 'actor'|trans }}
{% endblock %}

{% block body %}
	<div class="text-center mt-3">
		<h1>{{ 'actor'|trans }}</h1>
		<h2>
			{{actor.firstname}}
			{{actor.lastname}}
			{% for program in actor.programs %}
				<h3>
					{{ 'programs'|trans }} :
				</h3>
				<p>
					<a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a>
				</p>
			{% endfor %}

		{% endblock %}
