<nav class="navbar navbar-expand-lg navbar-light bg-main-color">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path("app_index")}}">Wild Series</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Wild Series</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path("category_index")}}">{{ 'discover.categories'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path("program_index")}}">{{ 'fav.programs'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">{{ 'fav.actors'|trans }}</a>
				</li>


				{{ render(controller('App\\Controller\\DefaultController::navbarTop')) }}


				<li class="nav-item">
					|
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path("season_new")}}">{{ 'add.season'|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path("episode_new")}}">{{ 'add.episode'|trans }}</a>
				</li>
				{% if app.user %}

					<li class="nav-item">{% trans with {'%username%': app.user.email} %}
						hello_username
						{% endtrans %}
						!</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_profile') }}">
							Profil</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">
							{{ 'account.logout'|trans }}</a>
					</li>

				{% else %}

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login' ) }}">
							{{ 'account.login'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">
							{{ 'account.register'|trans }}</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="/fr">FR</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/en">EN</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
